/* Reset */
*{
    margin: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/pattern.png);
    background-size: 390px;
    background-color: #4ea0ff;
    height: 100px;
}

.logo{
    width: 200px;
    margin-top: 40px;
    margin-left: 120px;
}

main, footer{
    margin-left: 120px;
    margin-right: 120px;
}

.title{
    font-weight: bolder;
    font-size: 2.8rem;
    margin-top: 20px;
}

.subtitle{
    font-size: 1.3rem;
}

.subtitle > span{
    color: #26abe6;
}

.images{
    margin-top: 20px;
}

.image-description{
    font-size: 0.8rem;
}

.article{
    margin-top: 20px;
}

ul{
    margin-top: 30px;
    padding-inline-start: 15px;
}

table{
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: 20px;
}

thead{
    background-color: #20a9e5;
    text-align: left;
    color: #ffffff;
}

.table-row{
    background-color: #b1e5f2;
}

tr td:nth-child(1){
    width: 25%;
}

tr td:nth-child(2){
    width: 25%;
}

tr td:nth-child(3){
    width: 50%;
}

footer{
    margin-top: 30px;
}

footer p{
    color: #848484;
    font-weight: bold;
}

.footer-image{
    position: relative;
    margin-top: 10px;
}

.monitor-text, .graph-text{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
article span{
    background-color: #ffff00;
}